extends ../../../_layout.pug

block var_article
    - var main_id  = 'id201806**'
    - var category = 'design - web'
    - var article_keywords = ''
    - var article_description = ''
    
    //- .article_title
    - var en  = ''
    - var jp  = ''
    - var day = '2018.06.**'

block article_detail
    article.detail

