meta(charset="utf-8")
meta(name="viewport",content="width=device-width, initial-scale=1")
meta(name="keywords",content=article_keywords)
meta(name="description",content=article_description)

title think a lot

link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
