- 
    var titles = [ 
        {
             main_id : 'id20180708',
             category : 'recommend',
             category2 : 'recommend',
             en : 'News & Blog<br>of<br>web app design',
             en2 : 'News & Blog - web app design', 
             jp : 'オススメ Web/アプリデザイン<br>ニュースブログ',
             jp2 : 'オススメ Web/アプリデザイン ニュースブログ',
             year : '2018',
             month : '07',
             day : '08',                 
             file_name : 'recommend_News.html'
        },
        {
             main_id : 'id20180702',
             category : 'web - html',
             category2 : 'web - html',
             en : 'Pug<br>how to smart<br>refactoring coding',
             en2 : 'Pug - how to smart refactoring coding', 
             jp : 'スマート リファクタリング<br>コーディング方法',
             jp2 : 'パグ スマート リファクタリング コーディング方法',
             year : '2018',
             month : '07',
             day : '02',                 
             file_name : 'pug_code_refactoring.html'
        },
        {
             main_id : 'id20180620',
             category : 'recommend',
             category2 : 'recommend',
             en : 'BGM music<br>of<br>youtube',
             en2 : 'BGM music of youtube',
             jp : 'オススメ youtube BGM<br><br>',
             jp2 : 'オススメ youtube BGM',
             year : '2018',
             month : '06',
             day : '20',                 
             file_name : 'recommend_BGM.html'
        },
        {
             main_id : 'id20180523_01',
             category : 'design - web - font',
             category2 : 'font',
             en : 'Hiragino Sans<br>&<br>Noto Sans',
             en2 : 'Hiragino Sans & Noto Sans',
             jp : '( Dark Theme Ver. )<br><br>',
             jp2 : '( Dark Theme Ver. )',
             year : '2018',
             month : '05',
             day : '23',                     
             file_name : 'font_hiragino-sans_noto-sans_compare_darkbg.html'
        },
        {
             main_id : 'id20180523_02',
             category : 'design - web - font',
             category2 : 'font',
             en : 'Hiragino Sans<br>&<br>Noto Sans',
             en2 : 'Hiragino Sans & Noto Sans',
             jp : '( White Theme Ver. )<br><br>',
             jp2 : '( White Theme Ver. )',
             year : '2018',
             month : '05',
             day : '23',         
             file_name : 'font_hiragino-sans_noto-sans_compare_whitebg.html'
        },
        {
             main_id : 'id20180506',
             category : 'design - web',
             category2 : 'web',
             en : 'browser screen resolution<br>world wide<br>stats/share (%)',
             en2 : 'browser screen resolution world wide stats/share (%)',
             jp : '画面解像度 世界利用割合統計率<br><br>',
             jp2 : '画面解像度 世界利用割合統計率',
             year : '2018',
             month : '05',
             day : '06',
             file_name : 'browser_screen_resolution.html'
        },
    ];