extends ../../../_layout.pug

block var_article
    - var main_id  = 'id20180620_v1'
    - var category = 'music - youtube'
    - var article_keywords = 'BGM,Recommend,Youtube,Select'
    - var article_description = 'Carefully Selected Recommend Youtube BGM / 厳選オススメBGM♪'
   
    //- .article_title
    - var en  = 'BGM<br>carefully selected recommend'
    - var jp  = '厳選オススメBGM♪'
    - var date = '2018.06.20'

block article_detail_css
    +css_article_detail_link(hierarchy)  

block article_detail

    article.detail
        //-h3 Stylish / オシャレ
        //-h3 cheerful / 陽気
        //-h3 Relax / リラックス・まったり・ノンビリ・ゆったり
        //-h3 Chillout・Concentration・Focus・Mind・Study / 集中・勉強  
        //-h3 Moist・Rain・Gloss・Sexy / しっとり・雨・艶・セクシー
        //-h3 Sleep・Silent / 睡眠・静か
        //-h3 Yoko Kanno / 菅野よう子 

        ul
            li: a(href="https://www.youtube.com/watch?v=unDx0IufPgQ" target="_blank")
                img(src="img/unDx0IufPgQ.png" alt="Youtube - 'ZEN II' Oriental Chillstep Mix [1 Hour of Chill Music] チルバイブ")
                div.time: span 56:18
            li: a(href="https://www.youtube.com/watch?v=sO3gX2UcWtg" target="_blank")
                img(src="img/sO3gX2UcWtg.png" alt="Youtube - Beautiful evening | lofi hip hop | Chillhop, Jazzhop, Chillout [Study/Sleep/Game]")
                div.time: span 1:06:06
            li: a(href="https://www.youtube.com/user/stayseemusic" target="_blank")
                img(src="img/stayseemusic.png" alt="Youtube - Stay See")
                div.time: span channel
            li: a(href="https://www.youtube.com/watch?v=h6f9XTxjenM" target="_blank")
                img(src="img/h6f9XTxjenM.png" alt="Youtube - Nujabes [Tributes Mix]")
                div.time: span 2:00:00
            li: a(href="https://www.youtube.com/watch?v=UKQqR-uOAS4&list=RDUKQqR-uOAS4" target="_blank")
                img(src="img/UKQqR-uOAS4.png" alt="Youtube - ミックスリスト - Sakamichi no Apollon OST")
                div.time: span list
            li: a(href="https://www.youtube.com/watch?v=dY2ojKpW8Z0" target="_blank")
                img(src="img/dY2ojKpW8Z0.png" alt="Youtube - Cowboy Bebop OST - Waltz for Zizi (1 hour loop)")
                div.time: span 52:44    
            li: a(href="https://www.youtube.com/watch?v=-FlxM_0S2lA" target="_blank")
                img(src="img/FlxM_0S2lA.gif" alt="Youtube - Lofi hip hop mix - Beats to Relax/Study to [2018]")
                div.time: span 2:00:00
            li: a(href="https://www.youtube.com/watch?v=-FlxM_0S2lA" target="_blank")
                img(src="img/FV0DZhpWy2k.png" alt="Youtube - lo-fi study & sleep tape [lo-fi hip hop / jazzhop / chillhop mix] (Study/Sleep/Relax music) 2017")
                div.time: span 2:00:34
            li: a(href="https://www.youtube.com/watch?v=PfRx4MZ0jLc" target="_blank")
                img.crop(src="img/PfRx4MZ0jLc.gif" alt="Youtube - Cowboy Bebop OST - Goodnight Julia (Extended)")
                div.time: span 14:37
            li: a(href="https://www.youtube.com/watch?v=5vels5pZkoc" target="_blank")
                img(src="img/5vels5pZkoc.gif" alt="Youtube - 【HD】 探偵 神宮寺三郎 KIND OF BLUE OP (Tantei Jinguji Saburo)")
                div.time: span 2:37     
            li: a(href="https://www.youtube.com/watch?v=5l4gjbQWwr0" target="_blank")
                img(src="img/5l4gjbQWwr0.png" alt="Youtube - 探偵神宮寺三郎 灯火が消えぬ間に BGM")
                div.time: span 56:47         
            li: a(href="https://www.youtube.com/watch?v=R4FFC5vIWKc" target="_blank")
                img(src="img/R4FFC5vIWKc.gif" alt="Youtube - Memory + Rainymood (Cowboy Bebop)")
                div.time: span 3:38        
            li: a(href="https://www.youtube.com/watch?v=mZ2fq-f-opE" target="_blank")
                img(src="img/mZ2fq-f-opE.png" alt="Youtube - Best of Zankyou no Terror 『残響のテロル』 OST")
                div.time: span 39:59
            li: a(href="https://www.youtube.com/watch?v=7q3Kw7BCaj0" target="_blank")
                img(src="img/7q3Kw7BCaj0.png" alt="Youtube - 薫と千太郎の文化祭")
                div.time: span 3:36        
            li: a(href="https://www.youtube.com/watch?v=No_RILc6RHA" target="_blank")
                img(src="img/No_RILc6RHA.png" alt="Youtube - 『涼宮ハルヒの憂鬱』BGM　長門の告白")
                div.time: span 3:36        
            li: a(href="https://www.youtube.com/watch?v=tLUegKLP" target="_blank")
                img(src="img/tLUegKLP.png" alt="Youtube - 『涼宮ハルヒの憂鬱』BGM　ある雨の日")
                div.time: span 1:44        

        //-h3 SoundTrack etc / サウンドトラック その他
        //-ul
            li <iframe title="Nujabes/Fat Jon - Departure (Samurai Champloo OST) [Full album]" src="https://www.youtube.com/embed/c3fZ8LXNs_E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            li <iframe title="Nujabes/Fat Jon/Force of Nature - Impression (Samurai Champloo OST) [Full album]" src="https://www.youtube.com/embed/sfGOsDg31mo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


